<template>
  <q-drawer
    :model-value="drawerIsOpen"
    @update:model-value="$emit('close')"
    show-if-above
    bordered
    class="bg-grey-1"
  >
    <q-list>
      <q-item-label
        header
        class="text-grey-8"
      >
        Configure
      </q-item-label>

      <!-- <EssentialLink
        v-for="link in essentialLinks"
        :key="link.title"
        v-bind="link"
      /> -->
    </q-list>
  </q-drawer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'MainMenu',
  props: {
    drawerIsOpen: {
      type: Boolean,
      required: true
    },
  },
  emits: ['close']
})
</script>
