<template>
  <q-layout view="lHh Lpr lFf" class="bg-dark text-white" >
    <q-header elevated>
      <q-bar class="q-electron-drag">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Configulator </q-toolbar-title>

        <div>v{{ appVersion }}</div>
      </q-bar>
    </q-header>

    <MainMenu :drawer-is-open="leftDrawerOpen" @close="closeLeftDrawer" />

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import MainMenu from 'components/MainMenu.vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    MainMenu,
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      appVersion: '0.1',
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      closeLeftDrawer () {
        leftDrawerOpen.value = false;
      },
    }
  }
})
</script>
